# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
.venv/
env/
ENV/

# Django stuff:
*.pot
*.pyc
db.sqlite3
*.mo

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
*.swp
*.swo
*.orig

# Static & media (si generas estáticos fuera del repositorio)
staticfiles/
media/

# Secret files
.env
.env.*

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage

# Migrations (opcional si no quieres subirlas aún)
# **/migrations/*.py
# **/migrations/*.pyc
# !**/migrations/__init__.py