# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
.venv/
env/
ENV/

# Django stuff:
*.pot
*.pyc
db.sqlite3
*.mo

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
*.swp
*.swo
*.orig

# Static & media (si generas estáticos fuera del repositorio)
staticfiles/
media/

# Secret files
.env

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage

# ML statics
savings/static/ml/model.pkl
savings/static/ml/model_info.json
